<div class="well" style="padding:15px" >
  <form class="form-control form-inline" style="text-align:center;">
    <md-input-container>
      <label>Name</label>
      <input type='text' ng-model='nav.user.name' >
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input type='text' ng-model='nav.user.password' >
      <button style='margin-top:-8px' class="btn btn-sm btn-warn" ui-sref='Profile' >Log In</button>
    </md-input-container>
    <md-container>
    </md-container>
  </form>
</div>
