<!-- This page is used as the home page for the event admin -->
<div ng-controller='EventController as vm'>
<button class="btn btn-lg btn-default" ui-sref='Dash' style="margin-top:10px;margin-left:15px;width:200px;height:60px;">Dashboard</button>
<button class="btn btn-lg btn-default" ui-sref='AddEvent ' style="margin-top:10px;margin-left:15px;width:200px"><img style="padding-right:10px"height='30' src='http://www.wearewow.com/global/img/icon-intro-addevent.png'/>Add Event</button>
<div id='clockDisplay' style="text-align:right;">
  <p style="margin-right:105px;">Time Remaining:</p>
  <div id='clock'style="width:200px;height:40px;background-color:white;border-radius:5%;float:right;margin-right:65px;"><p style="text-align:center;color:black;margin-top:1%;font-size:2em;font-weight:bold;">7:30</p></div>
</div>
<h1 style="text-align:center;margin-bottom:15px;">Running Event</h1>
  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-12">
  		</div>
      	</div>
        	<div class="row">
        		<div class="col-md-5" style="border: 2px white solid;margin-top:5px;">
        			<table class="table table-bordered table-condensed">
                <caption style="font-size:1.5em;text-align:center;margin-top:-25px;margin-bottom:35px;">Now Playing: </caption>
                <button class='btn btn-default' style="text-align:left;margin-right:25px;margin-top:10px;font-size:1.6em;border:2px solid;width:55px;padding:5px;">Edit</button>
        				<thead>
        					<tr>
        						<th>
        							#
        						</th>
        						<th>
        							Instruments
        						</th>
        						<th>
        							Performer
        						</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr>
        						<td>
        							1
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							01/04/2012
        						</td>

        					</tr>
        					<tr class="active">
        						<td>
        							2
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							01/04/2012
        						</td>

        					</tr>
        					<tr class="success">
        						<td>
        							3
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							02/04/2012
        						</td>

        					</tr>
        					<tr class="warning">
        						<td>
        							4
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							03/04/2012
        						</td>

        					</tr>
        					<tr class="danger">
        						<td>
        							5
        						</td>
        						<td>
        							TB - Monthly
        						</td>
        						<td>
        							04/04/2012
        						</td>
        					</tr>
        				</tbody>
        			</table>
        		</div>
      		<div class="col-md-5" style="border: 2px white solid;margin-top:5px;">
            <table class="table table-bordered table-condensed">
              <caption style="font-size:1.5em;text-align:center;margin-top:-25px;margin-bottom:35px;">Up Next: </caption>
              <button class='btn btn-default' style="text-align:left;margin-right:25px;margin-top:10px;font-size:1.6em;border:2px solid;width:55px;padding:5px;">Edit</button>
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Instruments
                  </th>
                  <th>
                    Performer
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    01/04/2012
                  </td>

                </tr>
                <tr class="active">
                  <td>
                    2
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    01/04/2012
                  </td>

                </tr>
                <tr class="success">
                  <td>
                    3
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    02/04/2012
                  </td>

                </tr>
                <tr class="warning">
                  <td>
                    4
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    03/04/2012
                  </td>

                </tr>
                <tr class="danger">
                  <td>
                    5
                  </td>
                  <td>
                    TB - Monthly
                  </td>
                  <td>
                    04/04/2012
                  </td>
                </tr>
              </tbody>
            </table>
      		</div>


      		<div style="text-align:center;margin-top:25px;"class="col-md-2">

      			<button style="margin-bottom:15px;height:37px;width:168px;" type="button" class="btn btn-sm btn-default"><img style="padding-right:10px;" height='20' src="http://www.iconsdb.com/icons/preview/white/clock-xxl.png"/>
      				Set Running Clock
      			</button><br>
      			<button style="margin-bottom:15px;width:168px;height:37px;"type="button" class="btn btn-sm btn-default">
      				Play / Pause <img style="padding-left:10px;" height='20' src="https://cdn2.iconfinder.com/data/icons/flat-style-svg-icons-part-1/512/play-pause_button_play_pause-512.png"/>
      			</button><br>
      			<button style="width:168px;margin-bottom:15px;"type="button" class="btn btn-sm btn-default">
      				Force Next Set<img style="padding-left:10px;" height='25' src="http://www.iconsplace.com/icons/preview/white/fast-forward-256.png"/>
      			</button><br>
            <!-- http://www.iconsdb.com/icons/preview/white/rewind-xxl.png -->
      			<button style="width:168px;margin-bottom:15px;height:37px;"type="button" class="btn btn-sm btn-default"><img style="padding-right:10px;" height='20' src="http://www.iconsdb.com/icons/preview/white/rewind-xxl.png"/>
      				Force Previous Set
      			</button><br>
            <button style="width:168px;"type="button" class="btn btn-lg btn-default"><img style="padding-right:10px;" height='30' src="http://www.iconsdb.com/icons/preview/white/settings-xxl.png"/>
      				Settings
      			</button>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-10">
      		</div>
      		<div class="col-md-2">


      		</div>
      	</div>
      </div>







</div> <!-- End of controller -->
