<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body ng-controller"GlobalController as nav">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a ui-sref="Login">Sign-in</a>
				</li>
				<li >
					<a ui-sref="Home">Log-out</a>
				</li>
				<li>
					<a href="#">Profile</a>
				</li>
				<!-- <li class="disabled">
					<a href="#">Messages</a>
				</li> -->
			</ul>
		</div>
	</div>
	<ui-view></ui-view>
	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
</body>
</html>
